---
layout: layouts/base.njk
lang: pl
locale: pl_PL
localeAlternate: en_GB
permalink: /pl/index.html
canonicalPath: /pl/
homePath: /pl/
worldPath: /pl/swiat/
enPath: /
plPath: /pl/
pageType: game
entrance: true
---
{% include "partials/landing.njk" %}
