---
layout: layouts/base.njk
lang: pl
locale: pl_PL
localeAlternate: en_GB
permalink: /pl/swiat/index.html
canonicalPath: /pl/swiat/
homePath: /pl/
worldPath: /pl/swiat/
enPath: /world/
plPath: /pl/swiat/
pageType: world
entrance: false
---
{% include "partials/world-page.njk" %}
