---
layout: layouts/base.njk
lang: en
locale: en_GB
localeAlternate: pl_PL
permalink: /index.html
canonicalPath: /
homePath: /
worldPath: /world/
enPath: /
plPath: /pl/
pageType: game
entrance: true
---
{% include "partials/landing.njk" %}
