---
layout: layouts/base.njk
lang: en
locale: en_GB
localeAlternate: pl_PL
permalink: /world/index.html
canonicalPath: /world/
homePath: /
worldPath: /world/
enPath: /world/
plPath: /pl/swiat/
pageType: world
entrance: false
---
{% include "partials/world-page.njk" %}
