<div class="page-frame" aria-hidden="true">
  <span class="page-frame__ornament page-frame__ornament--top-left"></span>
  <span class="page-frame__ornament page-frame__ornament--top-center"></span>
  <span class="page-frame__ornament page-frame__ornament--top-right"></span>
  <span class="page-frame__ornament page-frame__ornament--bottom-left"></span>
  <span class="page-frame__ornament page-frame__ornament--bottom-center"></span>
  <span class="page-frame__ornament page-frame__ornament--bottom-right"></span>
</div>
